{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<ul>	
	<f:for each="{items}" as="data" iteration="iteration">		
		<v:variable.set name="show" value="0" />
		<f:if condition="{variant}==''">
			<f:then>
				<v:variable.set name="show" value="1" />
			</f:then>
			<f:else>
				<f:if condition="{data.item.classifiedVariants}==''">
					<f:then>
						<v:variable.set name="show" value="1" />
					</f:then>
					<f:else>
						<v:variable.set name="allowedVariants" value="{v:iterator.explode(content:data.item.classifiedVariants, glue:',')}" />
						<v:condition.iterator.contains needle="{variant}" haystack="{allowedVariants}" considerKeys="1">
							<v:variable.set name="show" value="1" />
						</v:condition.iterator.contains>
					</f:else>
				</f:if>
			</f:else>		
		</f:if>		
		<f:if condition="{show}">
			<li id="tree-item-{data.item.uid}" data-uid="{data.item.uid}" class="tree-item">
				{data.item.title}
				<f:if condition="{data.children -> f:count()}>0">
					<f:render partial="Form/Fields/Tree/Branches" arguments="{items: data.children, variant: variant}" />
				</f:if>
			</li>
		</f:if>
	</f:for>
</ul>