{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-marketplace-add">					
		<div class="well well-sm well-buttons clearfix">
			<f:link.action action="list" arguments="{item:item.uid}">
				<button class="btn btn-primary" type="button">												
					<span class="glyphicon glyphicon-arrow-left icon-button"></span>
					{f:translate(key: 'pi1.action_add.back')}					
				</button>
			</f:link.action>
		</div>
		<div class="well well-add center-block">
			<f:form class="form-vertical client-validation" action="{action}" controller="Pi1" noCache="1" enctype="multipart/form-data" method="POST" name="{action}" id="{action}Form" object="{add}">
				<f:render partial="Pi1/Add/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">								
					<f:if condition="{paymentRequired}">
						<f:then>
							<v:variable.set name="buttonTxt" value="{f:translate(key: 'pi1.action_add.save_and_pay')}" />		
						</f:then>
						<f:else>
							<v:variable.set name="buttonTxt" value="{f:translate(key: 'pi1.action_add.save')}" />
						</f:else>
					</f:if>
					<f:form.button type="submit" class="btn btn-primary btn-block" title="{buttonTxt}">		
						<span class="glyphicon glyphicon-floppy-saved icon-button"></span>
						{buttonTxt}						
					</f:form.button>																	
				</div>				
				<f:if condition="{fields.variant.key}==''">					
					<f:if condition="{add.variant}!=''">	
						<f:form.hidden property="variant" />
					</f:if>
				</f:if>			
			</f:form>			
		</div>			
	</div>
</f:section>