{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-marketplace-edit">					
		<div class="well well-sm well-buttons clearfix">
			<f:if condition="{returnUrl}==''">
				<v:variable.set name="returnUrl" value="{f:uri.action(action:'list')}" />
			</f:if>
			<a href="{returnUrl}" title="{f:translate(key: 'pi1.action_edit.back')}">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-arrow-left icon-button"></span>
					{f:translate(key: 'pi1.action_edit.back')}			
				</button>
			</a>			
		</div>
		<div class="well well-edit center-block">
			<f:form class="form-vertical client-validation" action="{action}" arguments="{item:item}" controller="Pi1" noCache="1" enctype="multipart/form-data" method="POST" name="{action}" id="{action}Form" object="{edit}">
				<f:render partial="Pi1/Edit/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">								
					<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi1.action_edit.save')}">		
						<span class="glyphicon glyphicon-floppy-saved icon-button"></span>
						{f:translate(key: 'pi1.action_edit.save')}							
					</f:form.button>																	
				</div>
				<f:form.hidden name="returnUrl" value="{returnUrl}" />
			</f:form>			
		</div>			
	</div>
</f:section>