{namespace marketplace=DCNGmbH\MooxMarketplace\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-marketplace-list">					
		<f:render partial="Pi1/List/Body" arguments="{_all}" />		
	</div>
</f:section>