{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')} has-feedback has-clear">
	<v:variable.set name="label" value="{method.llpath}payment.voucher_code" />
	<v:variable.set name="label" value="{f:translate(key: label, extensionName:method.extkeyUCC )}" />
	<label class="control-label" for="payment[voucher_code]">{label} *{f:translate(key: 'form.required')}</label>
	<f:form.textfield type="text" additionalAttributes="{data-type:'text', data-label:label, data-id:'voucher_code', data-required:1}" name="payment[voucher_code]" value="{payment.voucher_code}" placeholder="{label} *{f:translate(key: 'form.required')}" class="form-control validate" />
	<span class="clearer glyphicon glyphicon-remove form-control-feedback form-control-clear" aria-hidden="true"></span>	
</div>