{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{edit}">	
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_edit.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_edit')}" />
	</f:if>
	<f:link.action action="edit" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<span class="glyphicon glyphicon-pencil list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>
<f:if condition="{detail}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_detail.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_detail')}" />
	</f:if>
	<f:link.action action="detail" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<span class="glyphicon glyphicon-search list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>
<f:if condition="{visibility}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_visibility.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_visibility')}" />
	</f:if>
	<f:link.action action="visibility" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
		<f:if condition="{item.hidden}">
			<f:then>
				<span class="glyphicon glyphicon-eye-close list-icon" aria-hidden="true"></span>		
			</f:then>
			<f:else>
				<span class="glyphicon glyphicon-eye-open list-icon" aria-hidden="true"></span>
			</f:else>
		</f:if>											
	</f:link.action>
</f:if>
<f:if condition="{payment}">
	<f:if condition="{item.paid}>0">
		<f:then>
			<f:if condition="{item.paidBy}=='user_rights'">
				<f:then>
					<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_payment.tooltip.paid_by_user_rights')}" />					
				</f:then>
				<f:else>
					<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_payment.tooltip.paid')}" />	
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_payment.tooltip.pay')}" />
		</f:else>
	</f:if>	
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_payment')}" />
	</f:if>
	<f:if condition="{item.paidBy}=='user_rights'">
		<f:then>
			<span data-toggle="tooltip" data-placement="top" title="{tooltip}" class="glyphicon glyphicon-euro list-icon text-muted" aria-hidden="true"></span>					
		</f:then>
		<f:else>
			<f:link.action action="payment" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}">
				<span class="glyphicon glyphicon-euro list-icon" aria-hidden="true"></span>											
			</f:link.action>
		</f:else>
	</f:if>	
</f:if>
<f:if condition="{delete}">
	<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_delete.tooltip')}" />
	<f:if condition="{tooltip}==''">
		<v:variable.set name="tooltip" value="{f:translate(key: 'pi1.action_delete')}" />
	</f:if>
	<f:link.action action="delete" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{tooltip}" arguments="{item:item.uid,returnUrl:returnUrl}" onclick="return window.confirm('Wollen Sie Ihre Anzeige wirklich unwiderruflich löschen?')">
		<span class="glyphicon glyphicon-remove list-icon" aria-hidden="true"></span>
	</f:link.action>
</f:if>