{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:for each="{fields}" as="field" iteration="iteration">
	<v:variable.set name="label" value="list.{field.key}" />		
	<f:if condition="{field.config.extkeyUCC}!=''">
		<f:then>
			<v:variable.set name="label" value="{f:translate(key: label, extensionName:field.config.extkeyUCC)}" />			
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: label)}" />
		</f:else>
	</f:if>
	<f:if condition="{label}==''">
		<f:if condition="{field.config.extkeyUCC}!=''">
			<f:then>
				<v:variable.set name="label" value="{f:translate(key: field.label, extensionName:field.config.extkeyUCC)}" />	
			</f:then>
			<f:else>
				<v:variable.set name="label" value="{f:translate(key: field.label)}" />
			</f:else>
		</f:if>		
	</f:if>
	<f:if condition="{label}==''">
		<v:variable.set name="label" value="{field.key}" />
	</f:if>
	<v:switch value="{field.key}">
		<v:case case="summary" break="TRUE">
			<v:variable.set name="colspan" value="2" />
		</v:case>
		<v:case case="default">	
			<v:variable.set name="colspan" value="" />
		</v:case>
	</v:switch>
	<f:if condition="{colspan}!=''">
		<f:then>
			<th id="{field.key}" colspan="{colspan}">{label}</th>	
		</f:then>
		<f:else>
			<th id="{field.key}">{label}</th>	
		</f:else>
	</f:if>
</f:for>