{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}
<div class="moox-ajax-body" id="{v:system.uniqId(prefix: 'moox-ajax-body-')}">	
	<m:widget.paginate objects="{items}" as="paginatedItems" configuration="{itemsPerPage: pagination.itemsPerPage, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 10, order: order, orderByFields: orderByFields, variants: allowedVariants, addButton: {controller:'Pi1', label:'pi1.action_list.add'}}">
		<f:if condition="{items->f:count()}>0">
			<div class="well well-list center-block">
				<div class="table-responsive">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>{f:translate(key: 'list.functions')}</th>								
								<f:render partial="Table/Headers" arguments="{fields: fields}" />
							</tr>
						</thead>
						<tbody>
							<f:for each="{paginatedItems}" as="item" iteration="iteration">							
								<tr class="item-row" id="item-row-{item.uid}">
									<td scope="row" class="col-md-2">
										<f:render partial="Table/Functions" arguments="{item:item,edit:1,detail:1,visibility:1,delete:1,payment:paymentRequired,returnUrl:returnUrl}" />						
									</td>
									<f:render partial="Table/Columns" arguments="{fields:fields,item:item}" />
								</tr>								
							</f:for>							
						</tbody>
					</table>
				</div>			
			</div>
		</f:if>
	</m:widget.paginate>	
	<f:if condition="{items->f:count()}>0">
		<f:else>
			<div class="well well-list center-block">
				<div class="alert alert-info" role="alert">
					{f:translate(key: 'pi1.action_list.no_items')}
				</div>
			</div>
		</f:else>
	</f:if>
</div>