{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Jstree -->
<v:asset.style name="jstree-css" group="moox-marketplace" path="{f:uri.resource(path:'Contrib/Jstree/Css/style.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="jstree-js" path="{f:uri.resource(path:'Contrib/Jstree/Javascript/jstree.min.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Selectivity -->
<v:asset.style name="selectivity-css" group="moox-marketplace" path="{f:uri.resource(path:'Contrib/Selectivity/Css/selectivity-full.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="selectivity-js" path="{f:uri.resource(path:'Contrib/Selectivity/Javascript/selectivity-full.min.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Datepicker -->
<v:asset.style name="datepicker-css" group="moox-marketplace" path="{f:uri.resource(path:'Contrib/Datepicker/Css/bootstrap-datepicker3.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="datepicker-js" path="{f:uri.resource(path:'Contrib/Datepicker/Javascript/bootstrap-datepicker.min.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="datepicker-locales-js" path="{f:uri.resource(path:'Contrib/Datepicker/Javascript/locales/bootstrap-datepicker.de.min.js')}" dependencies="datepicker-js" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Fileinput -->
<v:asset.style name="fileinput-css" group="moox-marketplace" path="{f:uri.resource(path:'Contrib/Fileinput/Css/fileinput.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="fileinput-js" path="{f:uri.resource(path:'Contrib/Fileinput/Javascript/fileinput.min.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="fileinput-locales-js" path="{f:uri.resource(path:'Contrib/Fileinput/Javascript/fileinput_locale_de.js')}" dependencies="fileinput-js" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Complexify -->
<v:asset.script name="complexify-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.min.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="complexify-banlist-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.banlist.js')}" dependencies="complexify-js" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi1 -->		
<f:if condition="{settings.cssfiles.pi1}">
	<f:then>
		<v:asset.style name="moox-marketplace-pi1-css" group="moox-marketplace" path="{settings.cssfiles.pi1}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-marketplace-pi1-css" group="moox-marketplace" path="{f:uri.resource(path:'Css/pi1.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-marketplace-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi1 -->
<v:asset.script name="moox-marketplace-pi1-js" path="{f:uri.resource(path:'JavaScript/pi1.js')}" dependencies="jquery" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Lang -->
<v:asset.script name="moox-marketplace-lang-js" path="{f:uri.resource(path:'JavaScript/lang.js')}" group="moox-marketplace" standalone="TRUE" allowMoveToFooter="TRUE" fluid="1" />
<div class="tx-moox-marketplace tx-moox-marketplace-pi1" id="{v:system.uniqId(prefix: 'tx-moox-marketplace-')}">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>