{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}
<v:variable.set name="categories" value="{m:getValue(item:item,field:field.key)}" />
<v:variable.set name="firstCategory" value="{v:iterator.first(haystack: categories)}" />
<td headers="{field.key}">
	<f:if condition="{firstCategory}">
		{firstCategory.title}
	</f:if>	
</td>