{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}
<v:variable.set name="value" value="{m:getValue(item:item,field:field.key)}" />
<f:if condition="{format}==''">
	<v:variable.set name="format" value="d.m.Y" />	
</f:if>
<f:if condition="{value}>0">
	<f:then>
		<v:variable.set name="value" value="{f:format.date(date:value,format:format)}" />	
	</f:then>
	<f:else>
		<v:variable.set name="value" value="" />	
	</f:else>
</f:if>
<td headers="{field.key}">
	{value}	
</td>