{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}
<v:variable.set name="images" value="{m:getValue(item:item,field:'images')}" />				
<v:variable.set name="image" value="{v:iterator.first(haystack:images)}" />
<td headers="{field.key}" class="col-md-1">
	<f:if condition="{image}">
		<v:media.image src="{image.uid}" alt="{image.title}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="100c" height="100c" />	
	</f:if>	
</td>
<td headers="{field.key}" class="col-md-5">
	<strong>{item.title}</strong><br />
	<p>{item.description -> f:format.crop(maxCharacters:100)}</p>
</td>