{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:variable.set name="error" value="{v:variable.get(name: 'errors.payment')}" />
<f:form.hidden name="payment[method]" id="selected-payment-method" value="{payment.method}" />
<div class="panel {f:if(condition:error,then:'panel-danger', else:'panel-default')}">
	<div class="panel-heading"><strong>{f:translate(key: 'pi1.action_add.payment')}</strong></div>
	<div class="panel-body">	
		<f:if condition="{paymentMethods->f:count()}>1">
			<ul class="nav nav-tabs nav-tabs-payment" role="tablist">	
				<f:for each="{paymentMethods}" as="paymentMethod" iteration="iteration">			
					<li role="presentation"<f:if condition="{iteration.isFirst}"> class="active"</f:if>>
						<a href="#{paymentMethod.extkey}" data-method="{paymentMethod.extkey}" aria-controls="{paymentMethod.extkey}" role="tab">{paymentMethod.tab}</a>
					</li>				
				</f:for>
			</ul>
		</f:if>
		<f:if condition="{paymentMethods->f:count()}>1">
			<f:then>
				<div class="tab-content">
					<f:for each="{paymentMethods}" as="paymentMethod" iteration="iteration">
						<v:media.exists file="{partialRootPath}Payment/{paymentMethod.extkeyUCC}/{paymentMethod.partial}.html" >
							<div role="tabpanel" id="{paymentMethod.extkey}" class="tab-pane<f:if condition="{iteration.isFirst}"> active</f:if> moox-payment {paymentMethod.extkey}">
								<f:render partial="Payment/{paymentMethod.extkeyUCC}/{paymentMethod.partial}" arguments="{_all}" />	
							</div>
							<v:variable.set name="localPartialFound" value="1" />
						</v:media.exists>
						<f:if condition="{localPartialFound}">
							<f:else>
								<v:variable.set name="foreignPartialPath" value="EXT:{paymentMethod.extkey}/Resources/Private/Partials/{paymentMethod.partial}.html" />
								<v:media.exists file="{foreignPartialPath}" >
									<div role="tabpanel" id="{paymentMethod.extkey}" class="tab-pane<f:if condition="{iteration.isFirst}"> active</f:if> moox-payment {paymentMethod.extkey}">										
										<v:render.template file="{foreignPartialPath}" variables="{_all}" />										
									</div>
								</v:media.exists>
							</f:else>		
						</f:if>	
					</f:for>
				</div>
			</f:then>
			<f:else>												
				<v:variable.set name="paymentMethod" value="{v:iterator.first(haystack: paymentMethods)}" />
				<v:media.exists file="{partialRootPath}Payment/{paymentMethod.extkeyUCC}/{paymentMethod.partial}.html" >
					<div class="moox-payment {paymentMethod.extkey}">
						<f:render partial="Payment/{paymentMethod.extkeyUCC}/{paymentMethod.partial}" arguments="{_all}" />	
					</div>
					<v:variable.set name="localPartialFound" value="1" />
				</v:media.exists>
				<f:if condition="{localPartialFound}">
					<f:else>					
						<v:variable.set name="foreignPartialPath" value="EXT:{paymentMethod.extkey}/Resources/Private/Partials/{paymentMethod.partial}.html" />
						<v:media.exists file="{foreignPartialPath}" >
							<div class="moox-payment {paymentMethod.extkey}">
								<v:render.template file="{foreignPartialPath}" variables="{_all}" />
							</div>
						</v:media.exists>
					</f:else>		
				</f:if>
			</f:else>
		</f:if>
	</div>
</div>