{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')}">	
	<f:if condition="{config.extkeyUCC}!=''">
		<f:then>			
			<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: label)}" />
		</f:else>
	</f:if>	
	<f:if condition="{config.required}">		
		<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
		<v:variable.set name="class" value=" required" />
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value="validate" />
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<label class="control-label" for="{field.key}"{f:if(condition:inline,then:' style="margin-right: 15px"')}>{label}</label>
	</f:if>
	</f:if>	
	<f:if condition="{config.items -> f:count()}>0">
		<f:then>			
			<f:for each="{config.items}" key="checkbox-value" as="checkbox-label" iteration="iteration">
				<div class="checkbox">
					<label>
						<f:if condition="{iteration.isFirst}">
							<f:then>			
								<f:form.checkbox property="{field}" multiple="1" additionalAttributes="{config.data}" value="{checkbox-value}" class="{validate-class}" />			
							</f:then>
							<f:else>
								<f:form.checkbox property="{field}" multiple="1" value="{checkbox-value}" />
							</f:else>
						</f:if>						
						{checkbox-label}
					</label>
				</div>
			</f:for>
		</f:then>
		<f:else>
			<div class="checkbox">
				<label>
					<f:form.checkbox property="{field}" additionalAttributes="{config.data}" value="1" class="{validate-class}" />
					{label}
				</label>
			</div>
		</f:else>
	</f:if>
	
</div>