{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')}">
	<f:if condition="{config.extkeyUCC}!=''">
		<f:then>			
			<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: label)}" />
		</f:else>
	</f:if>
	<f:if condition="{config.required}">		
		<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
		<v:variable.set name="class" value=" required" />
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value=" validate" />
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<label class="control-label" for="{field}">{label}</label>
	</f:if>
	</f:if>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group date time">		
				<f:form.textfield type="text" additionalAttributes="{config.data}" property="{field}" placeholder="{label}" class="form-control{validate-class}" />
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<div class="input-group">
				<f:form.select property="{field}_hh" options="{config.hours}" class="form-control{validate-class}" />
				<span class="input-group-addon">
					<span class="hidden-md">
						{f:translate(key: 'pi1.action_all.hour')}						
					</span>
					<i class="glyphicon glyphicon-time visible-md"></i>
				</span>				
			</div>			
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<div class="input-group">
				<f:form.select property="{field}_mm" options="{config.minutes}" class="form-control{validate-class}" />
				<span class="input-group-addon">
					<span class="hidden-md">
						{f:translate(key: 'pi1.action_all.minute')}						
					</span>
					<i class="glyphicon glyphicon-time visible-md"></i>
				</span>
			</div>
		</div>		
	</div>
</div>