{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:variable.set name="label" value="form.{field}.description" />
<f:if condition="{config.extkeyUCC}!=''">
	<f:then>			
		<v:variable.set name="description" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
	</f:then>
	<f:else>
		<v:variable.set name="description" value="{f:translate(key: label)}" />
	</f:else>
</f:if>	
<f:if condition="{description}!=''">
	<div class="alert alert-info" role="alert">{description}</div>	
</f:if>
