{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{config.extkeyUCC}!=''">
	<f:then>			
		<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
	</f:then>
	<f:else>
		<v:variable.set name="label" value="{f:translate(key: label)}" />
	</f:else>
</f:if>	
<f:if condition="{label}!=''">
	<h3>{label}</h3>	
</f:if>