{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{config.items -> f:count()}>0">
	<div class="form-group{f:if(condition:error,then:' has-error')}">	
		<f:if condition="{config.extkeyUCC}!=''">
			<f:then>			
				<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
			</f:then>
			<f:else>
				<v:variable.set name="label" value="{f:translate(key: label)}" />
			</f:else>
		</f:if>
		<f:if condition="{config.required}">		
			<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
			<v:variable.set name="class" value=" required" />
		</f:if>
		<f:if condition="{config.validate}">		
			<v:variable.set name="validate-class" value=" validate" />
		</f:if>
		<f:if condition="{multiple}">		
			<f:then>				
				<v:variable.set name="selector-class" value="tree-selector-multiple" />
				<f:if condition="{cascade}">
					<v:variable.set name="cascade-class" value=" tree-selector-cascade" />
				</f:if>
			</f:then>
			<f:else>
				<v:variable.set name="selector-class" value="tree-selector-single" />
			</f:else>			
		</f:if>
		<f:if condition="{showLabel}">
		<f:if condition="{label}!=''">
			<label class="control-label" for="{field.key}">{label}</label>
		</f:if>
		</f:if>
		<div class="well well-tree-selector">
			<div class="tree-selector-wrapper" id="tree-selector-{field}">
				<div class="tree-selector{cascade-class} {selector-class}" id="{field}-selector">				
					<f:render partial="Form/Fields/Tree/Branches" arguments="{items: config.items, variant: variant}" />					
				</div>
				<f:form.hidden additionalAttributes="{config.data}" property="{field}" value="{values}" class="form-control tree-selector-selected{validate-class}" />
			</div>
		</div>
	</div>
</f:if>