.tx-moox-marketplace-pi2 {
	
}

.tx-moox-marketplace-pi2 .icon-list, .tx-moox-marketplace-pi2 .icon-button, .tx-moox-marketplace-pi2 .typo3-messages .icon-alert {
	margin-right: 5px;
}

.tx-moox-marketplace-pi2 .pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}