{namespace marketplace=DCNGmbH\MooxMarketplace\ViewHelpers}

<f:layout name="Pi2" />

<f:section name="main">	
	<div class="tx-moox-marketplace-error">					
		<div class="well well-error center-block">
			<h2>Error</h2>
		</div>
	</div>
</f:section>