.moox-marketplace-tca {
	margin-top: 10px;
	margin-bottom: 10px;
}

.moox-marketplace-tca .t3-icon-toolbar-menu-shortcut {
	cursor: pointer;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-display-wrapper {
	width: 350px;
	display: inline-block;	
	float: left;	
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-display-header {
	background-color: #BBBBBB;
	padding-left: 7px;
	padding-right: 5px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-display {
	width: 350px;
	display: inline-block;		
	height: 350px;
	padding: 5px;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-actions {
	width: 16px;
	display: inline-block;		
	float: left;
	overflow: hidden;
	margin-left: 2px;	
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector-wrapper {
	width: 362px;
	display: inline-block;	
	margin-left: 40px;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector-header {
	background-color: #BBBBBB;
	padding-left: 10px;
	padding-right: 5px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector {
	width: 350px;
	display: inline-block;
	border: 1px solid rgb(169, 169, 169);
	background-color: #FFFFFF;
	padding: 5px;
	height: 340px;
	overflow: auto;	
}

.moox-marketplace-tca-tree-selector-selector-footer {
	margin-top: 5px;
}

.moox-marketplace-tca-tree-selector-display-footer {
	margin-top: 5px;
}

.moox-marketplace-tca-tree-selector-context {
	background-color: #EEEEEE;	
	border: 1px solid #999999;
	position: relative;
	margin-top: -20px;	
	z-index: 100;
	display: none;
}

.moox-marketplace-tca-tree-selector-context .moox-marketplace-context-element {
	background-image: none;
	background-repeat: no-repeat;
	background-position: 5px 5px;	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 25px;
	padding-right: 10px;	
	border-top: 1px solid #999999;
	margin-top: -1px;
	cursor: pointer;
}

.moox-marketplace-tca-tree-selector-context .moox-marketplace-context-element:hover {
	background-color: #DDDDDD;
}

.moox-marketplace-tca-tree-selector-context .moox-marketplace-context-element.icon-select-branch {
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_selected.png);
}

.moox-marketplace-tca-tree-selector-context .moox-marketplace-context-element.icon-unselect-branch {
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_unselected.png);
}

.moox-marketplace-tca-tree-selector-selector-footer .moox-marketplace-icon {
	background-image: none;
	background-repeat: no-repeat;
	background-position: 5px 4px;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 25px;
	padding-right: 10px;
	margin-right: 10px;
	background-color: #CCCCCC;
	border: 1px solid #999999;
	border-radius: 3px;
	cursor: pointer;
}

.moox-marketplace-tca-tree-selector-selector-footer .moox-marketplace-icon:hover {
	background-color: #DDDDDD;
}

.moox-marketplace-tca-tree-selector-selector-footer .moox-marketplace-icon.icon-select-all {
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_selected.png);
}

.moox-marketplace-tca-tree-selector-selector-footer .moox-marketplace-icon.icon-unselect-all {
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_unselected.png);
}


.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector ul li{
	display: block;
	border-bottom: 1px solid #EEEEEE;
	line-height: 20px;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-wrapper{
	cursor: pointer;
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_unselected.png);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 25px;
	color: #999999;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-wrapper:hover{
	background-color: #EEEEEE;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-selector ul li ul li{
	display: block;
	border: 0px;
	border-top: 1px solid #EEEEEE;
	padding-left: 20px;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-title {
	margin-left: 3px;
}

.moox-marketplace-tca .moox-marketplace-tca-tree-selector-active {
	color: #000000;
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_selected.png);
}

img.moox-marketplace-tca-tree-selector-state {
	vertical-align: middle;
	margin-right: 5px;
	background-image: url(/typo3conf/ext/moox_marketplace/Resources/Public/Icons/Backend/tca_tree_selector_unselected.png);
}

.moox-marketplace-tca-tree-selector-wrapper .t3-icon-toolbar-menu-shortcut {
	margin-right: 4px;
}

.moox-marketplace-context-element.icon-select-maincategory {
	padding-left: 5px;
	background-image: none;
}
.moox-marketplace-context-element.icon-select-maincategory span{
	margin-right: 4px;
}